apiVersion: v1
kind: Secret
metadata:
  name:  database
type: Opaque
stringData:
   REDIS_URL:  redis url
   SANDBOX_DB_URL: sandbox db url

---

apiVersion: v1
kind: Secret
metadata:
  name:  jwt
type: Opaque
stringData:
   JWT_SECRET:  secret